
@{
    ViewBag.Title = "Employee Portal";
}

<h2>Employee Portal</h2>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-3">@Html.ActionLink("Maintain Work Order", "ListWorkOrders", "Employee", null, htmlAttributes: new { @class = "btn btn-primary" }) </div>
            <div class="col-md-3">@Html.ActionLink("Create Work Order", "Create", "Employee", null, htmlAttributes: new { @class = "btn btn-primary" }) </div>
            <div class="col-md-3">@Html.ActionLink("View Protocols", "Index", "Assays", null, htmlAttributes: new { @class = "btn btn-primary" })</div>
            <div class="col-md-3">@Html.ActionLink("View Test Schedule", "Schedule", "Employee", null, htmlAttributes: new { @class = "btn btn-primary" })</div>
        </div>
    </div>
</div>