
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="jumbotron">
    <p>
        This will contain links to controllers. 
        A login option
        About option
    </p>
    <p>@Html.ActionLink("Login link", "Login", "Home")</p>
</div>



