@{
    ViewBag.Title = "Login";
}
<h2>Login</h2>
<div class="col-md-4 center">
    <div class="imgcontainer">
        <img src="~/Content/images/avatar.jpg" alt="Avatar" class="avatar">
    </div>
    <br />
    <br />
    @ViewBag.Validation
    @using (Html.BeginForm())
    {
        <div class="form-group text-center">
            <div class="col-md-10">
                User Name<br />
                <input type="text" name="username" /><br />
            </div>
        </div>
        <div class="form-group text-center">
            <div class="col-md-10">
                Password<br />
                <input type="password" name="password" /><br />
            </div>
        </div>
        <div class="form-group text-center">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    }
</div>