
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div class="col-md-4"></div>
<div class="col-md-4">
    @ViewBag.Validation
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <div class="col-md-10">
                User Name<br />
                <input type="text" name="username" /><br />

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                Password<br />
                <input type="password" name="password" /><br />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    }
</div>
